/*Body{} may be changed to remove text-align: center*/

body {
    background: rgb(204, 204, 204);
    text-align: center;
}

.title {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}